<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coinback</title>
</head>
<body>
    <h1>코인 백</h1>
    <div class="stock">
        <p>종목</p>
        <form>
             <input id="stock_search" type='text' name="종목" style= "width : 200px; height:30px" placeholder="종목입력해" >
             <input type="submit" value="제출">
        </form>
       
    </div>
    <div class="ratio">
        <p>비ddddf</p>
    </div>
    <div class="period">

    </div>
    <div class="initial_amount"></div>
</body>
</html>