<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coinback</title>
</head>
<body>
    <h1>코인 백</h1>
 <div class="select_section">
    <form><!--action=""-->
        <div class="stock">
            <h3>종목</h3>
            
            <input id="stock_search" type='text' name="종목" style= "width : 200px; height:30px" placeholder="종목입력해" >
            
        </div>
        <div class="ratio">
            <h3>비율</h3>
            <input type="number" min="1" max="100" placeholder="1-100">
            
        </div>
        <div class="period">
            <h3>기간 설정</h3>        
            <input type="month" name="start_day"> 
            <input type="month" name="end_day">       
        </div>
        <div class="initial_amount">
            <h3>초기자본</h3>
            <input type='number' placeholder="₩">
        </div><br>
            <input type="submit" value="제출" name="">
    </form>
</div>
<div class="initial_values">
    <h2>초기값</h2>
    
</div>
<div class="end_value">
    
</div>
<div class="chart">

</div>
</body>
</html>